*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Inter',sans-serif;
    background:#f4f5f7;
    color:#202330;
}

.topbar{
    height:70px;
    background:#fff;
    border-bottom:3px solid #0ea5e9;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:20px;
}

.logo-area h1{
    color:#ff2b77;
    font-size:22px;
}

.status{
    background:#dffaf3;
    color:#14b8a6;

    padding:8px 16px;
    border-radius:30px;

    font-size:12px;
    font-weight:700;
}

.settings{
    border:none;
    background:none;
    font-size:24px;
    cursor:pointer;
}

.dashboard{
    max-width:1400px;
    margin:30px auto;

    display:grid;
    grid-template-columns:2fr 1fr;
    gap:30px;

    padding:0 20px;
}

.left-column h2{
    font-size:52px;
    margin-bottom:20px;
}

.scoreboard{
    background:white;
    border:3px solid #ff4d8b;
    border-radius:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px;
}

.team{
    text-align:center;
}

.team span{
    font-size:18px;
    font-weight:700;
    letter-spacing:2px;
}

.team h3{
    font-size:80px;
}

.green{
    color:#00d1b2;
}

.red{
    color:#ff3b82;
}

.center-info{
    text-align:center;
}

.center-info h4{
    color:#cfd3d9;
    font-size:42px;
    margin-bottom:15px;
}

.waiting{
    border:1px solid #ffb4ca;
    padding:10px 25px;
    border-radius:10px;

    color:#ff3b82;
    font-weight:700;
    letter-spacing:3px;
}

.card{
    background:white;
    border-radius:12px;
    padding:20px;
    margin-top:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    color:#7f8794;
    padding-bottom:15px;
}

td{
    padding:12px 0;
    border-bottom:1px solid #ececec;
}

.weekly{
    margin-top:50px;
}

.weekly-match{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:15px;

    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    align-items:center;
}

.match-score{
    font-size:26px;
    font-weight:800;
}

.right-column{

    display:grid;

    grid-template-columns:
        1fr 1fr;

    gap:12px;

    align-content:start;
}

.stats-card{
    border-top:4px solid #f59e0b;
}

.stats-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-top:15px;
}

.stats-grid div{
    background:#f7f8fa;
    padding:18px;
    border-radius:8px;
}

.stats-grid h4{
    margin-top:5px;
    font-size:26px;
}

.menu{
    border-top:4px solid #00d1b2;
}

.menu button{
    width:100%;
    padding:12px;
    margin-top:10px;

    border:1px solid #d8dde4;
    background:white;

    font-weight:600;
    cursor:pointer;
}

.menu .active{
    color:#00d1b2;
    border-color:#00d1b2;
}

.sensor{
    background:#f7f8fa;
    padding:12px;
    border-radius:8px;

    display:flex;
    justify-content:space-between;

    margin-top:10px;
}

.tag{
    background:#e5e7eb;
    padding:4px 10px;
    border-radius:6px;
    font-size:12px;
}

.tag.active{
    background:#d1fae5;
    color:#10b981;
}

.display-box{
    margin-top:20px;
    background:#f7f8fa;
    padding:15px;
    border-radius:8px;
    font-weight:700;
}

.mini-stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.mini-card{
    background:white;
    border-radius:12px;
    padding:20px;
}

.mini-card h3{
    margin-top:8px;
    font-size:34px;
}

.quick-menu{
    border-top:3px solid #00d1b2;
}

.quick-menu button{

    width:100%;

    height:42px;

    margin-top:10px;

    background:#fff;

    border:1px solid #d9dce2;

    font-size:12px;

    color:#4b5563;

    cursor:pointer;

    transition:.2s;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
}

.quick-menu button:hover{
    background:#f7f8fa;
}

.train-btn{
    border-color:#00d1b2 !important;
    color:#00c9b7 !important;
}

/* kaka */
.monitor{
    padding:18px;
}

.monitor,
.actuators{
    min-height:215px;
}
.monitor,
.actuators{
    min-height:215px;
}

.monitor-item{
    background:#f4f5f7;

    padding:14px;

    margin-top:12px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.monitor-item small{
    display:block;
    color:#9aa2b1;
    font-size:11px;
}

.monitor-item strong{
    display:block;
    margin-top:3px;
}

.active-tag{
    background:#d9fff2;
    color:#00bfa5;

    padding:6px 10px;

    font-size:11px;
    font-weight:700;
}

.inactive-tag{
    background:#eef1f5;
    color:#7f8794;

    padding:6px 10px;

    font-size:11px;
    font-weight:700;
}
/* kaka */
.actuators{
    padding:18px;
}

.motor-line{
    margin-top:15px;

    display:flex;
    justify-content:space-between;

    color:#8b93a0;
    font-size:11px;
}

.motor-line strong{
    color:#ff4d8b;
    font-size:18px;
}

.actuators hr{
    border:none;
    border-top:1px solid #eceff3;
    margin:15px 0;
}

.actuator-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.actuator-grid div{
    background:#f5f6f8;
    padding:12px;
}

.switch{
    position:relative;

    display:inline-block;

    width:40px;
    height:20px;

    margin-top:10px;
}

.switch input{
    display:none;
}

.slider{

    position:absolute;

    inset:0;

    background:#00d1b2;

    border-radius:50px;
}

.slider::before{

    content:"";

    position:absolute;

    width:14px;
    height:14px;

    top:3px;
    left:22px;

    background:white;

    border-radius:50%;
}

.trigger-btn{

    width:100%;

    height:34px;

    border:none;

    background:#ffd6e5;

    color:#ff4d8b;

    font-size:11px;

    font-weight:700;

    cursor:pointer;

    transition:.2s;
}

.trigger-btn:hover{
    transform:translateY(-1px);
}

.display-title{
    margin-top:16px;

    color:#9aa2b1;
    font-size:11px;
}

.display-screen{
    margin-top:8px;

    background:#f5f6f8;

    padding:12px;

    font-weight:600;
}
/* kaka */
.weekly-match{

    display:grid;

    grid-template-columns:
        45px
        120px
        130px
        90px
        1fr
        45px;

    align-items:center;

    gap:10px;

    background:#fff;

    border:1px solid #eceff3;

    padding:14px;

    border-radius:12px;
}

.match-icon{
    width:34px;
    height:34px;

    border-radius:8px;

    background:#d9fff2;

    display:flex;
    align-items:center;
    justify-content:center;
}

.match-date{
    display:flex;
    flex-direction:column;
}

.match-date small{
    color:#8b93a0;
}

.weekly-score{
    text-align:center;
    font-weight:800;
    font-size:28px;
}

.weekly-score .green{
    color:#00d1b2;
}

.weekly-score .red{
    color:#ff4d8b;
}

.weekly-score small{
    color:#aab0bc;
    font-size:16px;
}

.match-time{
    font-size:14px;
}

.player-box{
    display:flex;
    flex-direction:column;
}

.player-box small{
    color:#d89a1d;
    font-weight:700;
}

.weekly-match img{
    width:42px;
    height:42px;
    border-radius:50%;
}

.bottom-stats{
    grid-column:1 / span 2;

    display:grid;

    grid-template-columns:
        repeat(2,1fr);

    gap:12px;
}

.mini-card{
    margin:0;
}